<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.test.servlets.Test</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>com.test.servlets.Connexion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeApp</servlet-name>
    <servlet-class>com.test.servlets.EmployeApp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectApp</servlet-name>
    <servlet-class>com.test.servlets.ProjectApp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestApp</servlet-name>
    <servlet-class>com.test.servlets.TestApp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DrawApp</servlet-name>
    <servlet-class>com.test.servlets.DrawApp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyAccompt</servlet-name>
    <servlet-class>com.test.servlets.MyAccompt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>com.test.servlets.SearchController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AutoComplete</servlet-name>
    <servlet-class>com.test.servlets.AutoComplete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Disponibility</servlet-name>
    <servlet-class>com.test.servlets.Disponibility</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>Message</servlet-name>
    <servlet-class>com.test.servlets.Message</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/tete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/Authentification</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestApp</servlet-name>
    <url-pattern>/testapp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeApp</servlet-name>
    <url-pattern>/employeapp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectApp</servlet-name>
    <url-pattern>/projectapp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DrawApp</servlet-name>
    <url-pattern>/drawapp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyAccompt</servlet-name>
    <url-pattern>/myaccompt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AutoComplete</servlet-name>
    <url-pattern>/autocomplete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/searchcontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Disponibility</servlet-name>
    <url-pattern>/disponibility</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Message</servlet-name>
    <url-pattern>/message</url-pattern>
  </servlet-mapping>
</web-app>