@CHARSET "ISO-8859-1";
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

a,

a:visited { color: #c20a05; text-decoration: none; }


a:hover { text-decoration: underline }


h1 { font-family: 'Enriqueta', arial, serif; line-height: 1.25; margin: 0 0 10px; font-size: 40px; font-weight: bold; }

h1 a,

h1 a:visited { color: #333333 }


h1 a:hover { color: #c20a05; text-decoration: none; }


p { color: #333333; font-family: "Helvetica Neue",Arial,sans-serif; font-size: 16px; font-weight: 300; line-height: 1.5625; margin-bottom: 15px; }


a.read-more { background-color: #c20a05; border: 1px solid #333333; border-radius: 3px 3px 3px 3px; box-shadow: 0 0 1px #93291b inset; color: #f5f5f5; padding: 5px; }


a.read-more:hover { background-color: #c20a05; border-radius: 3px 3px 3px 3px; text-decoration: none; }
 /*
.main ul {
 
}
 
.main li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  
}

.main li:last-child {
  border: none;
}
 
.main li a {
  text-decoration: none;
  color: #000;
 
  width: 900px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
.main li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}
*/
.projects ul {
 list-style-type: none;
 
}
 
.projects li {
  
}
 
.projects li:last-child {
  border: none;
}
 
.projects li a {

  color: #000;
  width: 900px;
 

}
 
.projects li a:hover {
 
}
.fromin {
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 8px;
    padding: 13px 14px;
    vertical-align: top;
    border-radius: 5px;
    float: right;
    color: #1a1a1a;
    background-color: #00eeee;
}
.draw{
	margin-top: 85px;
}
.flex-rectangle{
    width: 80%;
     border-style: solid;
    border-color: #000 #00;
    border-width: 2px;
    padding: 0px 5px 10px 5px;
    
}
.flex-rectangle:before{
    content: "";
    display: block;
    
    
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.projects:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.projects body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}
.maintitle {
	  text-align: center;
	padding-bottom: 15px;
	 font-family: "Helvetica Neue",Arial,sans-serif;
	 color: #c20a05;
}
.maintitle a:hover {
    text-decoration: underline;
}
.projects table {
  max-width: 960px;
  margin: 10px auto;
}

.projects caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}

.projects thead th {
  font-weight: 400;
  background: #8a97a0;
  color: #FFF;
}

.projects tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

.projects tr:nth-child(even) {
  background: #e8eeef;
}

.projects th, td {
  text-align: left;
  padding: 20px;
  font-weight: 300;
}

.projects tfoot tr {
  background: none;
}

.projects tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
}

.drawer{
	position: absolute;
	top: 25%;
	left:1%;
}
.drawer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 160px;
    background-color: #f1f1f1;
}



.drawer li {
     display: block;
   
    padding: 8px 16px;
    text-decoration: none;
}
.drawer li a {
     display: block;
  
    padding: 8px 16px;
    text-decoration: none;
}
.not_active{
	  display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
.active{
	  display: block;
   
    padding: 8px 16px;
    text-decoration: none;
    background-color: #555;
    color: white;
    
}
.active::before{
	 content:" ";
    position: absolute;
    top:0%;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
     left: 100%;
    border-left: 11px solid #555;
}
.active2{
	  display: block;
   
    padding: 8px 16px;
    text-decoration: none;
    background-color: #555;
    color: white;
    
}
.active2::before{
	 content:" ";
    position: absolute;
    top:50%;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
     left: 100%;
    border-left: 11px solid #555;
}

/* Change the link color to #111 (black) on hover */
.drawer li:hover {
     background-color: #555;
    color: white;
}
.drawer li a:active {
     background-color: #555;
    color: white;
}
.drawer li a:target {
     background-color: #555;
    color: white;
}
.chat{
	    position: relative;
   
    overflow: hidden;
    padding: 0 35px 45px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #e6e6e6;
    height:400px;
    width:400px;
     margin-bottom: 8px;
    
    white-space:pre-wrap;
        -webkit-box-pack: end;
         background-color: #fff;
    -ms-flex-pack: end;
    justify-content: flex-end;
    overflow-y: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.fromout{
	    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 8px;
    padding: 13px 14px;
    vertical-align: top;
    border-radius: 5px;
        float: left;
    color: #fff;
    background-color: #00b0ff;
}
.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #465e6e;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
}
form, table {
     display:inline;
     margin:0px;
     padding:0px;
}
.btn_small {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  background: #465e6e;
  padding: 2px 10px 2px 10px;
  text-decoration: none;
}
.btn_small:hover{
	 background: #6b8291;
  text-decoration: none;
}
.btn:hover {
  background: #6b8291;
  text-decoration: none;
}
@import "compass/css3";

.projects{
	position: absolute;
	top: 13%;
	left:15%;
}
.main{
	position: absolute;
	top: 18%;
	left:13%;
}
.selector{
	position: absolute;
	top: 20%;
	left:7%;
}
.profilepic{
	position: absolute;
	top: 17%;
	left:7%;
}
.inv_button{
	 background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	
}
.buttonsmenu{
	
    text-align: center;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.main.idbutton{
	position: absolute;
	top: 30%;
	left:20%;
	z-index:10000;
	background-color:yellow;
}
.drawing{
	  margin-top: 10px;
    margin-bottom: 10px;
   width : 90%;
}
.pad{
	padding : 5px 10px 0px 3px;
}